<h1>Your teams</h1>

<% @teams.each do |team| %>
  <p><%= team.name %></p>
<% end %>
<%= link_to 'Add team', action: 'new', controller: 'teams' %>

<h1>Your players</h1>
<% @teams.each do |team| %>
  <% team.players.each do |player| %>
    <p><%= player.derby_name%> || <%= player.number %> || <%= player.role %></p>
  <% end %>
<% end %>
